fastapi>=0.110.0
uvicorn>=0.29.0

SQLAlchemy>=2.0.29
asyncpg>=0.29.0

pydantic>=2.7.0
pydantic-settings>=2.2.1

cryptography>=42.0.5
passlib[bcrypt]>=1.7.4
python-jose[cryptography]>=3.3.0
ecdsa>=0.18.0

redis>=5.0.3
celery>=5.3.6

grpcio>=1.62.1
grpcio-tools>=1.62.1
protobuf>=4.25.3
PyYAML>=6.0.1

reportlab>=4.1.0
rapidfuzz>=3.8.1

prometheus-client>=0.20.0
prometheus-fastapi-instrumentator>=7.0.0

hvac>=2.1.0
neo4j>=5.16.0
langchain>=0.1.0
langchain-openai
pyotp>=2.9.0
bcrypt>=4.0.0
